<div class="header-menu">
  <ul class="header-menu__list">
    <li class="header-menu__item">
      <a routerLink="/" routerLinkActive="header-menu__link--active" [routerLinkActiveOptions]="{exact:true}" class="header-menu__link">Dashboard</a>
    </li>
    <li class="header-menu__item">
      <a routerLink="/etl" routerLinkActive="header-menu__link--active" [routerLinkActiveOptions]="{exact:true}" class="header-menu__link">ETL processes</a>
    </li>
    <li class="header-menu__item">
      <a routerLink="/hosts" routerLinkActive="header-menu__link--active" [routerLinkActiveOptions]="{exact:true}" class="header-menu__link">Hosts</a>
    </li>
    <li class="header-menu__item">
      <a routerLink="/services" routerLinkActive="header-menu__link--active" [routerLinkActiveOptions]="{exact:true}" class="header-menu__link">Services</a>
    </li>
  </ul>
</div>
